header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: rgb(209, 128, 74);
  background-image: url('../images/brick-wall-dark.png')
}

.name{
margin-top: 0px;
color: white;
}