.homepage-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 100%;
	padding-top: 150px;
	background-color: rgb(209, 128, 74);
	background-image: url('../images/brick-wall-dark.png');
}

.name {
	margin-top: 0px;
	color: white;
}

.writeNewTweet {
	display: flex;
}


/* media queries */
@media (min-width: 768px) {
	.homepage-header {
		position: fixed;
		margin: 150px 50px;
		padding-top: 0px;
		height: 400px;
		max-width: 35%;
	}
}
