header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
  background-color: rgb(209, 161, 29);
}
.avatar{

}
.name{
margin-top: 0px;
color: white;
}