.new-tweet {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 90%;
	margin: 0 auto;
}
form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
#tweet-text {
	border: transparent;
	background-color: transparent;
	border-bottom: 5px solid #545149;
  font-size: 20px;
  font-weight: 600;
  height: 2em;
}
.error-msg{
	display: inline;
	margin: 0px 0px 0px 150px;
	padding: 5px 10px;
	font-size: 18px;
	color: red;
	background-color: rgb(245, 147, 147);
	border-radius: 5px;
	box-shadow: 2px 2px 0px 0px red;
}
.button-counter {
	display: flex;
	justify-content: space-between;
  padding-top: 10px;
}

.tweet-button {
	font-family: 'Bungee';
	font-size: 18px;
	padding: 5px 10px;
	background-color: #4056a1;
	color: white;
}

.counter {
	font-family: 'bungee';
}
