.posted-tweets {
	border: 3px solid #545149;
	width: 90%;
	margin: 30px 0px;
}
.posted-tweets:hover {
	box-shadow: 5px 5px 0px 0px rgb(142, 142, 243);
}

.tweet-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px 15px;
}

.tweet-body {
	display: flex;

	border-bottom: 3px solid #545149;
	padding: 0px 0px 5px 10px;
	width: 98%;
	margin: 0 auto;
}

.tweet-footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 13px;
	padding: 0px 25px;
}

.icons {
	color: rgb(76, 76, 160);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 60px;
}

.icon:hover {
	color: rgb(180, 154, 6);
}
.img-name {
	display: flex;
	flex-direction: row;
}

.profile-pic {
	height: 50px;
	width: auto;
}
.header-name {
	margin: 20px 10px 0px 10px;
	font-size: 20px;
}

.user-handle {
	margin: 20px 10px 0px 10px;
	color: rgb(131, 131, 247);
	font-size: 20px;
	font-weight: 600;
}
